*{
    background-color:   #d84b38;
    text-align: center;
    color: white;
    padding-top: 3vh;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    z-index: 9999;
    background: url('./Asset.png') 50% 50% no-repeat #d84b38;
    opacity: .8;
}


@font-face {
    font-family: 'avenir_lt_std95_black';
    src: url('avenirltstd-black-webfont.woff2') format('woff2'),
         url('avenirltstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    
}
@font-face {
    font-family: 'avenir_lt_std55_roman';
    src: url('avenirltstd-roman-webfont.woff2') format('woff2'),
         url('avenirltstd-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p {
    opacity:0;
    font-family: 'avenir_lt_std55_roman';   
    padding-top: 17vh;
    animation: p-load 1000ms ease-in 1000ms;
    animation-fill-mode: forwards;
    
}
h1{
    opacity:0;
     font-family: 'avenir_lt_std95_black';

    animation: p-load 1000ms ease-in 400ms;
    animation-fill-mode: forwards;
}
h3{
    opacity:0;
    font-size:38px;
    font-family: 'avenir_lt_std55_roman';
    animation: p-load 1000ms ease-in 700ms;
    animation-fill-mode: forwards;
}

.gamename{
    opacity:0;
    font-size: 27px;
    animation: p-load 1000ms ease-in 1300ms;
    animation-fill-mode: forwards;

}
@keyframes p-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes h1-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes h3-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1 ;
    }
}
