*{
    background-color:   #d84b38;
    text-align: center;
    color: white;
    padding-top: 3vh;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height:100%;
    z-index: 9999;
    background:   #d84b38;
    opacity: 0;
    animation: name-load 1500ms ease-in;
    animation-fill-mode: forwards;
}


@font-face {
    font-family: 'avenir_lt_std95_black';
    src: url('avenirltstd-black-webfont.woff2') format('woff2'),
         url('avenirltstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    
}
@font-face {
    font-family: 'avenir_lt_std55_roman';
    src: url('avenirltstd-roman-webfont.woff2') format('woff2'),
         url('avenirltstd-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.p {
    opacity:0;
    font-family: 'avenir_lt_std55_roman'; 
    font-size: 20px;  
    padding-top: 5vh;
    animation: p-load 1600ms ease-in 1500ms;
    animation-fill-mode: forwards;
    
}
h2{   
    font-family: 'avenir_lt_std95_black';
    padding-top: 26vh;


}

h1{
    opacity:0;
     font-family: 'avenir_lt_std95_black';

    animation: p-load 1600ms ease-in 400ms;
    animation-fill-mode: forwards;
}
h3{
    margin-top: -20px;
    opacity:0;
    font-size:38px;
    font-family: 'avenir_lt_std55_roman';
    animation: h3-load 1600ms ease-in 1600ms;
    animation-fill-mode: forwards;
}

.gamename{
   opacity: 1;
    font-size: 27px;
    font-family: 'avenir_lt_std95_black'; 
    font-size: 20px;  
    margin-bottom: 5px
    ;
   


}
@keyframes p-load{
    0%{
        transform: translateY(20%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes h3-load{
    0%{
        transform: translateY(20%);
        opacity: 0;;
    }
    30%{
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes name-load{
    0%{
        
        opacity: 0;;
        transform: translateY(0.7%);
    }
    50%{
        
        opacity: 1 ;
        transform: translateY(0%);
    }
    80%{
        opacity: 1;
    }
    100%{
        opacity:0;
    }
}
