*{
    background-color:   #d84b38;
    text-align: center;
    color: white;
    padding-top: 3vh;
}


@font-face {
    font-family: 'avenir_lt_std95_black';
    src: url('avenirltstd-black-webfont.woff2') format('woff2'),
         url('avenirltstd-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;


    
}
@font-face {
    font-family: 'avenir_lt_std55_roman';
    src: url('avenirltstd-roman-webfont.woff2') format('woff2'),
         url('avenirltstd-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
p {
    
    font-family: 'avenir_lt_std95_black';
    padding-top: 17vh;
    animation: p-load 1000ms ease-in 400ms
}
h1{
    font-family: 'avenir_lt_std55_roman';
    animation: p-load 1000ms ease-in 700ms
}
h3{
    font-family: 'avenir_lt_std55_roman';
    animation: p-load 1000ms ease-in 1000ms
}

.gamename{
    font-size: 27px

}
@keyframes p-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes h1-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
@keyframes h3-load{
    0%{
        transform: translateY(50%);
        opacity: 0;;
    }
    100%{
        transform: translateY(0%);
        opacity: 1 ;
    }
}
